# My 1st Program "Hello World"

In [ ]:
print ("Hello World")

Hello World

# Variables

x=10  
x is variable name and 10 is the value which is assigned to the variable.  
x is holding a value 10.   
Variables are the placeholders to store the data.  

Naming a Variable Rules in Python:  
*   A variable names must start with a letter or the underscore character. (a-z, A-Z, _)
*   A varaible name cannot start with a number (0-9)
*   A variable name can contain Alpha-Numeric character and undescores (A-z, 0-9, _)
*   Variable names are case-sensitive (age, Age and AGE are the 3 different variables.
*   Inbuild keywords should not be used as identifiers.

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

**Boolean:**	True, False  
**Logical Operators:**	and, or, not  
**Comparison Operators:**	is, in    
**Null:**	None  
**Control Flow:**	if, elif, else, for, while, break, continue, pass  
**Exception Handling:**	try, except, finally, raise, assert  
**Function:**	def, return, lambda, yield  
**Class/Object (OOPS):**	class  
**Import:**	import, from, as  
**Variable:**	global, nonlocal  
**Async Programming:**	async, await  
**Miscellaneous:**	del, with

In [ ]:
a=5
print (a)

5

In [ ]:
venu_10=20
print(venu_10)

20

# Memory Allocation

There are two parks of Memory
1. Stack
2. Heap

x=5  
y=6

variables names (x and y) are stored in stack memory  
random memory (heap memory) which is having a value.   

relation ship which binds with a value is known as reference (unique id).

the Stack and Heap memory strored in the Memory Block.

ID Function  
address of the value of the variable.

In [ ]:
x=5
print (id(x))

10757864

In [ ]:
x=20
print (x)
print(id(x))

20
10758344

In [ ]:
name ="venu"
print (name)
print (id(name))

venu
138582353733424

# Comments

In [ ]:
#this is a variable
a=5
x=23
y=45
z=32
print (a, x, y, z)

5 23 45 32

# Data Types

Integers - Whole numbers - (-Infinty to Infinity, inbetween zero)  
Float - decimal value  
Boolean - true and false  
Strings - Alpha Numeric Charaters  
None - no value, if you dont want to give any value - its a void

In [ ]:
#Integers
number =24
print (number)
print(type(number))

a=20.5
print(a)
print(type(a))

print("a")

b=True
print (b)
print(type(b))
type(b)

string ="venu"
print(string)
print (type(string))
type(string)

24
<class 'int'>
20.5
<class 'float'>
a
True
<class 'bool'>
venu
<class 'str'>

str

In [ ]:
#multi line string
a="""
I am venu
having 11 years of experience
"""
print(a)
print(type(a))
type(a)

I am venu
having 11 years of experience

<class 'str'>

str

In [ ]:
#multi line string
a='''
I am venu
having 11 years of experience'''
print(a)
print(type(a))
type(a)

I am venu
having 11 years of experience
<class 'str'>

str

In [ ]:
#multi line string with invalid usage ' '/ " " /
# always use """/ '''  for multiline string.
a="
I am venu
having 11 years of experience"
print(a)
print(type(a))
type(a)

SyntaxError: unterminated string literal (detected at line 2) (ipython-input-30-1513015599.py, line 2)

# Input Function

In [ ]:
name=input()
print(name)
print(type(name))

Venu
Venu
<class 'str'>

In [ ]:
# number as input =  by default in python it will take as a string. example:
x=input()
print(x)
print(type(x))

5
5
<class 'str'>

In [ ]:
#type conversion
x

'5'

In [ ]:
x=2.5
y=float(x)
print(y)
print(type(y))

2.5
<class 'float'>

In [ ]:
print(x)
b=int(x)
print(b)
print(type(b))

2.5
2
<class 'int'>

In [ ]:
#you cant convert string as an integer
name="venu"
nam=int(name)
print(nam)
print(type(nam))

ValueError: invalid literal for int() with base 10: 'venu'

In [ ]:
type("1.5")

str

In [ ]:
#string directly you cant convert into integer, if its a float. So in this case you must convert 1st string to float, then convert float into integer; here is an example:

c=float("1.5")
type (c)
int(c)

1

# Print Functions

In [ ]:
#print single value using print function
print ("venu")
print() #for empty value in the o/p

#print multiple values using print function
print("venu", "rahul", 10, 25, "venu.venneti@gmail.com", "rahul123@gmail.com", 68.2, 72.5)
print() #for empty value in the o/p

#remove the spaces and check how the values will be printed?
print("venu","rahul",10,25,"venu.venneti@gmail.com","rahul123@gmail.com",68.2,72.5)
print() #for empty value in the o/p
#every value printed with a space, by default print function will have a seperator space.

#need to mention a special character after each value?
print("venu","rahul",10,25,"venu.venneti@gmail.com","rahul123@gmail.com",68.2,72.5, sep=",")
print() #for empty value in the o/p
print("venu","rahul",10,25,"venu.venneti@gmail.com","rahul123@gmail.com",68.2,72.5, sep=";")
print() #for empty value in the o/p
print("venu","rahul",10,25,"venu.venneti@gmail.com","rahul123@gmail.com",68.2,72.5, sep="-")
print() #for empty value in the o/p
print("venu","rahul",10,25,"venu.venneti@gmail.com","rahul123@gmail.com",68.2,72.5, sep="\n")
print() #for empty value in the o/p

#using \n end function with same print function.
print("venu", 10, "venu123@gmail.com", 68.2, "\nrahul", 25, "rahul123@gmail.com", 72.5)
print() #for empty value in the o/p

#by using end function to make it in the same line of output
print("venu", 25, end=" ")
print("rahul", 24)
print() #for empty value in the o/p

#to break the value of the 1st print fucntion, and execute the further value in the 2nd line. by Using end operator.
print("venu", 25, sep="\n", end="->")
print("rahul", 26)

venu

venu rahul 10 25 venu.venneti@gmail.com rahul123@gmail.com 68.2 72.5

venu rahul 10 25 venu.venneti@gmail.com rahul123@gmail.com 68.2 72.5

venu,rahul,10,25,venu.venneti@gmail.com,rahul123@gmail.com,68.2,72.5

venu;rahul;10;25;venu.venneti@gmail.com;rahul123@gmail.com;68.2;72.5

venu-rahul-10-25-venu.venneti@gmail.com-rahul123@gmail.com-68.2-72.5

venu
rahul
10
25
venu.venneti@gmail.com
rahul123@gmail.com
68.2
72.5

venu 10 venu123@gmail.com 68.2
rahul 25 rahul123@gmail.com 72.5

venu 25 rahul 24

venu
25->rahul 26

# Operators

Expression = Operators + Operands  
X + Y   
X and Y are the Operands and + is known as Operators.
An operator in a programming language is a symbol that to perform specific Mathematical, relational or logical operation and produce the final result.  
**Arthematic Operations**  
Addition, Subtraction, Division, Multiplication, Mod(%), Floor Division (//), To the Power (**)  
**Comparision Operators** - always compares the two values, always it will give either the true or false.  
==, !=, <, >, <=, >=  
**Assignment Operators**  
=, -=, +=, /=, *=, %=, //=
**Logical Operators**  
AND, OR, NOT -- this gives the boolean values (either true/false) gives as a o/p.  
**Special Operator**  
in operator (Membership Operator)  
is operator

In [ ]:
a=5
b=3
a+b

8

In [ ]:
a-b

2

In [ ]:
a/b

1.6666666666666667

In [ ]:
#division operator will always give the float value
5/5

1.0

In [ ]:
a*b

15

In [ ]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

8
2
15
1.6666666666666667

In [ ]:
# will see the string addition
First = "venu"
Last = "Gopal"
print(First+Last)
#this is known as String Concatenation.

print("1"+"1") # this works again sring concatenation.
#you cant subtract and Multiply the string with a string, you can only add a string with a string.

First*3

venuGopal
11

'venuvenuvenu'

In [ ]:
print(a,b)

# Modules operator always gives remainder always
print(a%b)

x=10
y=10
print(x%y)
print(x%b)
print()
print()

# Floor Division Operator, the result is floored to the nearest smaller integer (which always in the left side of the nearest integer value)
print(a//b)
print(-3//2)
print()
print()

# to the power operator accepts two values base and power
print(a,b)
print(a**b) #5*5*5=125
print(3**2) #3*3=9

5 3
2
0
1


1
-2


5 3
125
9

In [ ]:
# Comparision Operators
print(a,b)
print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print()
print()
print(6>=3)
print(6<=3)
print(6==3)
print(6!=3)
print(6>3)
print(6<3)

5 3
False
True
False
True
False
True


True
False
False
True
True
False

In [ ]:
#Assignement Operators
a=5
a=a+3
print(a)
print()
print()

8

In [ ]:
#a=a+3 is same as a+=3
a+=3
print(a)

#a=a-3 is same as a-=3
a-=3
print(a)

#a=a/3 is same as a/=3
a/=3
print(a)

#a=a*3 is same as a*=3
a*=3
print(a)

#a=a%3 is same as a%=3
a%=3
print(a)

#a=a//3 is same as a//=3
a//=3
print(a)

3.0
0.0
0.0
0.0
0.0
0.0

In [ ]:
#Logical Operator
#AND
print(3>2 and 4>3)
print(2>3 and 3>2)
print(3>2 and 2>3)
print (2>3 and 3>4)
print()
print()

print(3>2 or 4>3)
print(2>3 or 3>2)
print(3>2 or 2>3)
print (2>3 or 3>4)
print()
print()

print(3>2)
print(2>3)
print()

print(not 3>2)
print(not 2>3)

True
False
False
False


True
True
True
False


True
False

False
True

In [ ]:
#Special Operators
#in operator tells you if an object is part of other object or not.
name="venu gopal"
print("v" in name)
print("x" in name)
print("venu" in name)
print("venneti" in name)
print()
print()



# is operator tells you if both the objects are at same memory location or not?
a=5
b=10
print(id(a), id(b))
print()
print()

x=5
y=5
print(id(x), id(y))

print(x is y)
print(a is b)
print(a is x)

True
False
True
False


10757864 10758024


10757864 10757864
True
False
True

# Control Flow  
Control Flow Statements  
if, else, elif

In [ ]:
#if your age is above 18, you can drive the car; if your age is below 18, then you are not eligible.
age=int(input())
#now use if else
if age>18:
  print("Congratulation! You are eligible to drive the car")
  print("Drive Safely")
else:
  print("Sorry! You are not eligible")

19
Congratulation! You are eligible to drive the car
Drive Safely

In [ ]:
# Nested if else:
#if your age is above 18, you can drive the car; if your age is below 18, then you are not eligible.

age=int(input())
if age>18:

#one more condition, you are not eligible above 65 years.
  if age>65:
    print("Take Care! As per the government rule, you are not eligible")
  else:
      print("Congratulation! You are eligible to drive the car")
      print("Drive Safely")
else:
  print("Sorry! You are not eligible")

66
Take Care! As per the government rule, you are not eligible

In [ ]:
# if elif and else
# the elif condition is used to include multiple conditional expressions after the if condition.

num=int(input())
if num>0:
  print("Positive Number")
if num==0:
  print("Zero")
else:
  print("Negative Number")
# it is not giving the correct information why because if, if then else. 1st statement passed so mentioned positive, 2nd is not statified, so automatically taken the else condition information and provided two values.
# in this case use the elseif.

12
Positive Number
Negative Number

In [ ]:
# if elif and else
# the elif condition is used to include multiple conditional expressions after the if condition.

num=int(input())
if num>0:
  print("Positive Number")
elif num==0:
  print("Zero")
else:
  print("Negative Number")

-20
Negative Number

In [ ]:
#Find maximum in a list
# given marks of students in a class, find topper of the class
# Consider the list in non empty

marks=[90, 30, 100, 50, 80, 95]

#iterate on the list use the for loop
highest=marks[0]
for i in marks:
# check the condition
  if i>highest:
    highest=i
print(highest)

#use the max function
print(max(marks))

#use the min function
print(min(marks))

100
100
30

In [ ]:
#Grading System
#A: marks equal and above 90
#B: marks equal to 80 and less than 90
#C: marks equal to 70 and less than 80
#D: marks equal to 60 and less than 70
#E: less than or 60

marks=int(input())
if marks>=90 and marks<=100:
  print("Congratulations! You got the Grade A")
elif marks>=80 and marks <=90:
  print("Very Good, You got the B Grade")
elif marks>=70 and marks<=80:
  print("Good, You got the C Grade")
elif marks>=60 and marks<=70:
  print("Better Luck Next time, You got the D Grade")
elif marks<=60:
  print("Failed, You got the E Grade")
else:
  print("Invalid")

80
Very Good, You got the B Grade

# Loops in Python  
Loops means repeating the same process again and again: While and For  
How to do the While loop: Intializing the value, Loop Condition, Updating value

In [ ]:
#intialize
i=1
#Loop Condition
while i<=6:
#inside the body
  print("Venu is the best!")
#update the value
  i+=1

Venu is the best!
Venu is the best!
Venu is the best!
Venu is the best!
Venu is the best!
Venu is the best!

In [ ]:
#print all the numbers from 0 to 10 using loop

#intialize the value
i=0
#loop condition
while i<=10:
  #print(i)
  print(i, end=" ")
#update value
  i+=1

0 1 2 3 4 5 6 7 8 9 10

In [2]:
#print even numbers in given range example: 0 to 10

#intialize the value
i=0
# loop condition
while i<=10:
  if i%2 ==0:
    print(i, end=" ")
#update value
  i+=1

0 2 4 6 8 10

In [3]:
#print odd numbers in given range example: 0 to 10
#intialize the value
i=0
# loop condition
while i<=10:
  if i%2 ==1:
    print(i, end=" ")
#update value
  i+=1

1 3 5 7 9

In [7]:
#Print sum of all numbers from 1 to 10
#intialize the value:
i=1
add=0
while i<=10:
  add+=i
  print(add, end=" ")
  i+=1
print()
print(add)

1 3 6 10 15 21 28 36 45 55
55

Range Function  
range() function allows users to generate series of numbers  
it is iterable as well.  
range function does contains: range(start,end,jump)  
it always give the integer. and always starts with 0 as start.

In [12]:
n=5
range (n)
list (range(5))

[0, 1, 2, 3, 4]

In [13]:
#start is included and end is excluded
list (range(1,5))

[1, 2, 3, 4]

In [14]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [15]:
list (range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [16]:
list (range(10,1,1))
#it will give the empty cell because it is not going in right side, if needs to go to left side (reverse order) then use -1.

[]

In [18]:
list(range(10,-10,-2))

[10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

Iterator:the chocolate person  
Iterable:giving chocolates to all the people in the class room  
Iteration= iterator + iterable (loop is noting but iteration).  

Iterator will iteerate in iterable..!

In [20]:
#Print 1 to 10 numbers in the same line by using for loop
#i: iterator
#range(); Iterable

for i in range(1,11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [31]:
#print multiplication table of 5

n=int(input("enter the number: "))
for i in range(1,11):
  print(f"{n} * {i} = {n*i}")
#f = is used for the formatted sring

enter the number: 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
n=4
* * * *
* * * *
* * * *
* * * *

n=3
* * *
* * *
* * *

In [37]:
for i in range(4):
  print("*", end=" ")
print()
for i in range(4):
  print("*", end=" ")
print()
for i in range(4):
  print("*", end=" ")
print()
for i in range(4):
  print("*", end=" ")
print()

* * * *
* * * *
* * * *
* * * *

In [38]:
#nested for loop
for i in range(4):
  for i in range(4):
    print("*", end=" ")
  print()

* * * *
* * * *
* * * *
* * * *

In [48]:
n=int(input())
#run for rows
for i in range(1, n+1):
  for j in range(i):
    print("*", end=" ")
  print()

5
*
* *
* * *
* * * *
* * * * *

break, continue and pass  
These statements are used to alter the flow of a program  '

*   break: Breaks the flow of program once the condition is hit.
*   continue: It skips the perticular iteration.
*   pass: To avoid syntax errors.

In [57]:
for i in range(1,11):
  if i==5:
    break
    #break after 5 onwards.
  print(i, end=" ")

1 2 3 4

In [58]:
for i in range(1,11):
  if i==5:
    continue
    #skip 5 and continue other numbers.
  print(i, end=" ")

1 2 3 4 6 7 8 9 10

In [61]:
for i in range(1,11):
  pass

# Strings  
A string is a sequence of characters  
Characters can be: Alphabets(small/capital), digits(0-9), whitespaces(space), special characters (@, #, $,...)  
They can be defined using single, double, or triple quotes.  

[ ] - are used for slicing in all the places, in data structues also we use [ ] for slicing. dont consider as a list.

In [65]:
"venu" == "unev"

False

**ord and chr**  -- Unicode
these are used to find the encoding value of a character.  
in the system every aplhanumeric, symbols, emoji, other language letters, etc..! have a specific encoding values, which are shown in the example below.

In [67]:
ord("a")

97

In [70]:
ord ("M")

77

In [71]:
chr (102)

'f'

In [74]:
chr (2325)

'क'

**Indexing in a String:**  
String always starts from 0  
for example: venu  
v=0, e=1, n=2, u=3.  
if you find out the total length of the string is n-1 which means 4 letters, 4-1 = 3.  
if you want to give the negative indexing so it should be like = -(lenght of string). which usually starts with -1, -2, -3, ...

In [75]:
name="venu gopal"
name

'venu gopal'

In [76]:
name[0]

'v'

In [77]:
name[5]

'g'

In [78]:
name[-1]

'l'

In [79]:
len(name)

10

In [80]:
len("gopal")

5

In [82]:
size=len(name)
print(name[-size])
print(size)

v
10

**String Slicing**  
for slice use starting point and end point [start:end]  
if you want to add jump you can by using [start:end:jump]

In [85]:
name="venu gopal"
name[0:4]

'venu'

In [90]:
size=len(name)
name[5:size]

'gopal'

In [91]:
#this will give the whole list
name[:]

'venu gopal'

In [92]:
#using Jump in the name string.
name[::3]

'vuol'

In [95]:
name[:-1]

'venu gopa'

In [96]:
name [-2]

'a'

In [98]:
name[1:-2:-1]

''

In [99]:
name [-1:0]

''

In [100]:
name[-1:0:-1]

'lapog une'

In [101]:
name [::-1]

'lapog unev'

In [103]:
name[-1 : -(len(name)+1) : -1]

'lapog unev'

**String Methods** - Even though you are using the string mentods, you can do many things for that occurance. But it wont change the default string value.
*   capitalize
*   title
*   upper
*   lower
*   find
*   count
*   index
*   replace
*   split
*   islower
*   isupper
*   isnumeric
*   isalpha

In [104]:
name="venu gopal"
name.capitalize()

'Venu gopal'

In [105]:
name.title()

'Venu Gopal'

In [106]:
name.upper()

'VENU GOPAL'

In [109]:
name.find("a")

8

In [112]:
name.count("z")

0

In [115]:
name.index("n")

2

In [117]:
name.replace("e", "E")

'vEnu gopal'

In [118]:
name

'venu gopal'

In [119]:
name.split()

['venu', 'gopal']

In [122]:
name.split("e")
#you can break inbetween by using the split letter, no need to have a space to break

['v', 'nu gopal']

In [120]:
name.islower()

True

In [121]:
name.isupper()

False

In [123]:
name.isalpha()

False

In [129]:
"venu".isalpha()

True

In [125]:
name.isnumeric()

False

In [128]:
"2".isnumeric()

True

**Sring Formating**

In [135]:
name=input()
age=int(input())
# here we will lot many grammatical issues
print("Hey my name is", name, ". and my age is ", age)
print("Hey my name is", name,"." " and my age is ", age)

#The formating methods are available from Python 3.6 Version and above
#using format method
print("Hey my name is {} and my age is {}.".format(name, age))
#using advance format method
print(f"Hey my name is {name} and my age is {age}.")

Venu
34
Hey my name is Venu  . and my age is  34
Hey my name is Venu  . and my age is  34
Hey my name is Venu  and my age is 34.
Hey my name is Venu  and my age is 34.

**String Concatination**

In [136]:
first=input()
second=input()

print(first + second)

Venu
Gopal
Venu Gopal

**Strings Examples:**  - using quotes for the stings.
"2"+"a"= '2a'  
"a"+"a"+"a"= 'aaa'  
"2" + "2" = '22'    
"a"x3 ='aaa'  
"2"+2= error (you cant add a string and integer. But you can multiple the string with a number)  
"Venu"x"Gopal"=error (here you cant multiple the two stings)  
**Integer Example:**  
2+2 = 4

In [148]:
#print all the vowels fo a given string

text="You cant add a string and integer. But you can multiple the string with a number"
for i in text:
  if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
    print(i, end=" ")

o u a a a i a i e e u o u a u i e e i i a u e

In [155]:
# Find a string is a pallindrome or not.
#which means reverse also have the same spelling; example: radar, which means reverse of a string also have the same spelling.
s=input()
#reverse by using string slicing through s[::-1]
if s==s[::-1]:
  print("Yes")
else:
  print("No")

radar
Yes

# Data Structures
A data structures is a specialized format for organizing, processing, retriving and storing data.  
Lists [ ], Tuples ( ), Dictionary, Sets

**[Lists]**  -- works same like string  **bold text**
Ordered collection of data,   
Lists are mutable type of data structures,   
It can contain multiple type of data,   
Lists are changeable(mutable), lists are iterable.

In [172]:
l1=[2,4,6,8]
id(l1)

134994025544896

In [173]:
l1[1]

4

In [174]:
l1[1] = 5

In [175]:
print(l1)

[2, 5, 6, 8]

In [176]:
id(l1)
# even the value changed in the list, the memory location address wont change.

134994025544896

In [178]:
for i in l1:
  print(i)

# lists are iterative

2
5
6
8

In [180]:
#Slicing works as same as strings.
l1[0:3]

[2, 5, 6]

In [181]:
l1[::-1]

[8, 6, 5, 2]

**List inbuild Methods**  
count, index, pop, remove, sort, insert, append, extend

In [183]:
budget=[100, 200, 300, 100]

In [184]:
budget.count(100)

2

In [185]:
budget.count(500)

0

In [188]:
budget.index(200)
# when did you make 200 at the 1st time?

1

In [194]:
#pop: remove and returns the last element of a list
name=["venu", "gopal", "Satish", "Krishna", "xtra"]

In [195]:
drop=name.pop()
drop

'xtra'

In [196]:
#remove: removes the given object from our list

name

['venu', 'gopal', 'Satish', 'Krishna']

In [197]:
name.remove("gopal")
name

['venu', 'Satish', 'Krishna']

In [198]:
#sort: it sorts our list
budget

[100, 200, 300, 100]

In [200]:
budget.sort()
budget

[100, 100, 200, 300]

In [201]:
#insert: helps to add an element at a given index.
name

['venu', 'Satish', 'Krishna']

In [203]:
name.insert(1, "Gopal")
name

['venu', 'Gopal', 'Gopal', 'Satish', 'Krishna']

**Append vs Extend in Lists**  
append will add as a set at the last.  
extend will iterate and add at the last as an individual element.

In [206]:
l=[1, 2, 3, 4, 5]
l.append("venu")
l

[1, 2, 3, 4, 5, 'venu']

In [208]:
l1=[6, 7,8]
l.append(l1)
l

[1, 2, 3, 4, 5, 'venu', [6, 7, 8]]

In [209]:
l.extend(l1)
l

[1, 2, 3, 4, 5, 'venu', [6, 7, 8], 6, 7, 8]

In [210]:
l=[1,2,3,4,5]
l1=[6,7,8]
l.extend(l1)
l

[1, 2, 3, 4, 5, 6, 7, 8]

**Hetrogenous List**  
its a list of different data types.

In [211]:
l=[2,10, "venu", 1.5, True, False]
type(l)

list

In [213]:
type(l[2])

str

In [217]:
#2D list
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
l=[l1,l2,l3]
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [218]:
l[0]

[1, 2, 3]

In [219]:
l[2]

[7, 8, 9]

In [220]:
l[0][2]

3

In [221]:
l[2][1]

8

In [222]:
#if you want to get the value of 5 then
l[1][1]

5

In [223]:
#iteration on 2d list
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [224]:
for i in l:
  print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [226]:
for i in l:
  for j in i:
    print(j, end=" ")

1 2 3 4 5 6 7 8 9

**List Comprehension**

In [227]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [229]:
l=[]
for i in range(10):
  l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [230]:
#list comprehension
l=[i for i in range(20)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [231]:
l=[(i**2)for i in range(10)]
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [235]:
#Challenge: give a list of population sensun done byb GOI. you need to find the total population. Each element in the list represents total members in a family,

l=[4,6,5,8,9,3,2,4,5,4,3,2,3,4]
#access all the elements of the list and then sum them up.
population=0
for i in l:
  population+=i
print(population)

62

**(Tuples)**  -- are used for the frozen data., throughout the its life cycle you wont change the data  
Like list tuples are also ordered collection of data  
unchangeable  
iterable  
can be hetrogeneous


In simple we only cant change the value, apart from that it acts like a list.

In [236]:
#you can create the empty tuples
t=()
type (t)

tuple

In [237]:
t1=tuple()
type (t1)

tuple

In [238]:
print(t, t1)

() ()

In [239]:
#non empty tuples, here in this example it considered as a integer not a tuple.
t3=(2)
type(t3)

int

In [240]:
#use the (,) after 2 then the system will get to know its a tuple not an integer.
t3=(2, )
type(t3)

tuple

In [244]:
t4= tuple("venu")
type(t4)

tuple

In [245]:
t4

('v', 'e', 'n', 'u')

In [248]:
# Unpacking Tuples
a=3
b=4
c=5
d=6
print(a, b, c, d)

3 4 5 6

In [249]:
a, b=  7,6
print(a,b)

7 6

In [250]:
t=(1,2,3,4)

In [251]:
a,b,c,d=t
print(a,b,c,d)

1 2 3 4

In [252]:
#tuple Methods
#Count
t=(1,2,3,4,1,5,1)

In [253]:
t.count(1)

3

In [254]:
t.index(1)

0

In [256]:
t.index(4)

3

In [257]:
#Iterations
len(t)

7

In [259]:
for i in t:
  print(i, end=" ")

1 2 3 4 1 5 1

In [260]:
#concatination
t

(1, 2, 3, 4, 1, 5, 1)

In [264]:
t1=(5,6)

In [266]:
t2=t+t1

In [267]:
t2

(1, 2, 3, 4, 1, 5, 1, 5, 6)

In [268]:
#tuples to list and a list to tuple

lst=list(t2)
type(lst)

list

In [269]:
lst1=tuple(lst)
type(lst1)

tuple